@page "/"

<header class="root">
    <h1 class="title">Controls</h1>
</header>
<div class="section" style="transition-delay: 0s;">
    <div id="overview" tabindex="-1">
        <h2 class="subHeading hiddenContent">Overview</h2>
    </div>
    <div class="content">
        <div class="ms-Markdown">
            <p>
                Fluent UI's robust, up-to-date web controls are built with Blazor. Look through the control list to see the building blocks that are available using Fluent UI Blazor.
            </p>
        </div>
    </div>
</div>
<div class="section" style="transition-delay: 0.05s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Basic Inputs</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/ButtonsPage">Button</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/CheckboxPage">Checkbox</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/ChoiceGroupPage">ChoiceGroup</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DropdownPage">Dropdown</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/LabelPage">Label</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/BlazorFluentUI.LinkPage">BlazorFluentUI.Link</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/RatingPage">Rating</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/SearchBoxPage">SearchBox</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/SliderPage">Slider</BlazorFluentUI.Link></li>
            @*<li class="uThird"><BlazorFluentUI.Link Href="/spinbutton">SpinButton</a></li>*@
            <li class="uThird"><BlazorFluentUI.Link Href="/TextFieldPage">TextField</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/NumericTextFieldPage">NumericTextField</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/MaskedTextFieldPage">MaskedTextField</BlazorFluentUI.Link> <sup>(beta)</sup></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/TogglePage">Toggle</BlazorFluentUI.Link></li>
        </ul>
    </div>
</div>

<div class="section" style="transition-delay: 0.1s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Galleries & Pickers</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/CalendarPage">Calendar</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DatePickerPage">Datepicker</BlazorFluentUI.Link></li>
        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.15s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Items & Lists</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/ListPage">List</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DetailsListPageBasic">DetailsList</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DetailsListAutoPage">DetailsListAuto</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DetailsListGroupedPage">DetailsList-Grouped</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DetailsListAutoGroupedPage">DetailsListAuto-Grouped</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DocumentCardPage">DocumentCard</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/GroupedListPage">GroupedList</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/PersonaPage">Persona</BlazorFluentUI.Link></li>
        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.2s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Commands, Menus & Navs</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/CommandBarPage">CommandBar</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/ContextualMenuPage">ContextualMenu</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/NavPage">Nav</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/NavBarPage">NavBar</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/OverflowSetPage">OverflowSet</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/PivotPage">Pivot</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/RibbonMenuPage">RibbonMenu</BlazorFluentUI.Link></li>

        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.25s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Notification & Engagement</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/MessageBarPage">MessageBar</BlazorFluentUI.Link></li>

        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.3s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Progress</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/ProgressIndicatorPage">ProgressIndicator</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/SpinnerPage">Spinner</BlazorFluentUI.Link></li>

        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.35s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Surfaces</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/CalloutPage">Callout</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/DialogPage">Dialog</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/ModalPage">Modal</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/PanelPage">Panel</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/TooltipPage">Tooltip</BlazorFluentUI.Link></li>

        </ul>
    </div>
</div>
<div class="section" style="transition-delay: 0.4s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs">Utilities</h2>
    </div>
    <div class="content">
        <ul class="uListFlex">
            <li class="uThird"><BlazorFluentUI.Link Href="/FocusTrapZonePage">FocusTrapZone</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/FocusZonePage">FocusZone</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/ImagePage">Image</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/LayerPage">Layer</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/MarqueeSelectionPage">MarqueeSelection</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/ResizeGroupPage">ResizeGroup</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/RichTextEditorPage">RichTextEditor</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/StackPage">Stack</BlazorFluentUI.Link></li>
            <li class="uThird"><BlazorFluentUI.Link Href="/TextPage">Text</BlazorFluentUI.Link></li>
        </ul>
    </div>
</div>

@code {

}